nav{
    position: absolute;
}
.middletext 
{
    padding-top: 170px;
    text-align: center;
    margin-bottom: 50px;
}
.casestudy-box
{
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.getstarted
{
    text-align: center;
}
.getstarted h4 
{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
}
.getstarted a 
{
    padding: 20px 50px;
    background-color: rgb(61, 135, 255);
    color: white;
    text-decoration: none;
}
footer
{
    margin-top: 80px;
}
